<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <link rel="icon" type="image/png" href="siteicon.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema Exemplo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- Logo -->
  <img src="astroif.png" alt="Astro IF" class="header-logo" />

  <!-- Botão dropdown -->
  <div class="dropdown">
    <button class="dropbtn">☰</button>
    <div class="dropdown-content">
      <a href="/">Home</a>
      <a href="/teste">Teste</a>
      <a href="/aluno/lst">Lista de Alunos</a>
    </div>
  </div>

</body>
</html>
