<%-include('../cabecalho.ejs')%>
    <!-- Conteúdo principal (APÓS o <header>) -->
<div class="form-card">
    <div class="btn-secondary-wrapper">
  <a href="/aluno/lst" class="btn-secondary">Listar Alunos</a>
</div>
  <h1>Adicionar Aluno</h1>

  <form action="/aluno/add" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required>
    </div>

    <div class="form-group">
      <label for="matricula">Matrícula:</label>
      <input type="text" id="matricula" name="matricula" required>
    </div>

    <div class="form-group">
      <label for="turma">Turma:</label>
      <input type="text" id="turma" name="turma" required>
    </div>

    <div class="form-group">
      <label for="imagem">Foto (opcional):</label>
      <input type="file" id="imagem" name="imagem" accept="image/*">
    </div>

    <button type="submit" class="btn-primary">Salvar Aluno</button>
  </form>
</div>


<%-include('../rodape.ejs')%>